@charset 'UTF-8';
.icon--brand::after,
.icon--web::after,
.icon--mobile::after,
.icon--animate::after,
.icon--ui::after,
.icon--photo::after
{
    font-family: FontAwesome;
    font-size: 37px;

    position: absolute;
    top: 12px;
    left: 17px;

    color: #fff;
}

.clients .clients__wrap .text__block--left::before,
.clients .clients__wrap .text__block--right::after
{
    position: absolute;
    top: 44%;

    width: 0;
    height: 0;

    content: '';

    border-width: 13px 25px 13px 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.icon--brand::after
{
    content: '';
}

.icon--web::after
{
    content: '';
}

.icon--mobile::after
{
    content: '';
}

.icon--animate::after
{
    content: '';
}

.icon--ui::after
{
    content: '';
}

.icon--photo::after
{
    content: '';
}

body
{
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;

    color: #000;
    background: #fff;
}

@media screen and (min-width: 480px)
{
    body
    {
        font-size: 14px;
    }
}

.container
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header
{
    position: absolute;
    z-index: 25;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0 5px;

    background: transparent;
}

@media screen and (min-width: 720px)
{
    .header
    {
        padding: 40px 0;
    }
}

.header .header__logo
{
    font-size: 1.78em;

    display: inline-block;

    color: white;
}

.header .header__logo img
{
    display: block;

    width: 140px;
    height: auto;
}

.header .header__menu
{
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;
    float: right;
}

@media screen and (min-width: 720px)
{
    .header .header__menu
    {
        position: relative;
    }
}

.header .header__menu .menu__btn
{
    position: relative;
    top: -36px;
    right: 0;

    display: block;

    padding: 25px;

    cursor: pointer;
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

.header .header__menu .menu__btn img
{
    width: 47px;
    height: auto;
}

.header .header__menu .menu__btn:hover + .menu__list
{
    display: block;
}

@media screen and (min-width: 720px)
{
    .header .header__menu .menu__btn
    {
        display: none;
    }
}

.header .header__menu .menu__list
{
    position: absolute;
    top: 22px;
    right: -9px;

    display: none;

    margin: 0;
    padding: 16px 0 0;

    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

.header .header__menu .menu__list:hover
{
    display: block;
}

@media screen and (min-width: 720px)
{
    .header .header__menu .menu__list
    {
        position: relative;
        top: 0;
        right: 0;

        display: inline-block;

        padding: 4px 0 0;

        background: transparent;
    }
}

.header .header__menu .menu__list .list__item
{
    font-size: 1.42em;

    display: block;

    border: 2px solid white;
    border-bottom: none;
    background: #29606b;
}

.header .header__menu .menu__list .list__item:last-child
{
    border-bottom: 2px solid white;
}

@media screen and (min-width: 720px)
{
    .header .header__menu .menu__list .list__item:last-child
    {
        border-bottom: none;
    }
}

.header .header__menu .menu__list .list__item .item__a
{
    display: block;

    padding: 15px 40px 15px 40px;

    -webkit-transition: all .6s ease-out;
            transition: all .6s ease-out;

    color: white;
}

.header .header__menu .menu__list .list__item .item__a:hover
{
    color: #e09520;
}

.header .header__menu .menu__list .list__item:hover
{
    background: #4db5ca;
}

@media screen and (min-width: 720px)
{
    .header .header__menu .menu__list .list__item
    {
        font-size: 1.21em;

        display: inline-block;

        border: none;
        background: transparent;
    }
    .header .header__menu .menu__list .list__item:hover
    {
        background: transparent;
    }
    .header .header__menu .menu__list .list__item .item__a
    {
        padding: 0 0 0 35px;
    }
}

.promo
{
    padding: 0;

    text-align: center;

    color: white;
}

.promo .promo__slider
{
    display: block;
}

.promo .promo__slider .slider__item
{
    display: block;
}

.promo .promo__slider .slider__item .item__picture
{
    width: 100%;
    min-height: 360px;
    max-height: 620px;
}

.promo .promo__slider .slider__item .text__wrap
{
    position: absolute;
    z-index: 20;
    top: 20vh;
    left: 0;

    -webkit-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

@media screen and (min-width: 520px)
{
    .promo .promo__slider .slider__item .text__wrap
    {
        top: 25vh;
    }
}

@media screen and (min-width: 800px)
{
    .promo .promo__slider .slider__item .text__wrap
    {
        top: 30vh;
    }
}

@media screen and (min-width: 980px)
{
    .promo .promo__slider .slider__item .text__wrap
    {
        top: 35vh;
    }
}

.promo .promo__slider .slider__item .text__wrap .item__title--little
{
    font-size: 2em;
    font-weight: 300;

    display: block;

    margin-bottom: 2.5%;
}

.promo .promo__slider .slider__item .text__wrap .item__title--main
{
    font-size: 2.71em;
    font-weight: 700;

    display: block;

    margin-bottom: 4%;

    text-transform: uppercase;
}

@media screen and (min-width: 920px)
{
    .promo .promo__slider .slider__item .text__wrap .item__title--main
    {
        font-size: 4.71em;
    }
}

.promo .promo__slider .slider__item .text__wrap .item__btn
{
    font-size: 1.42em;
    font-weight: 600;

    display: inline-block;

    padding: 17px 60px;

    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;

    color: white;
    border: 2px solid white;
    border-radius: 3px;
    background: transparent;
}

.promo .promo__slider .slider__item .text__wrap .item__btn:hover
{
    font-size: 1.71em;

    padding: 17px 68px;

    background: rgba(224, 149, 32, .73);
}

.services
{
    display: block;

    padding: 7% 0 3%;

    background: #fff;
}

.services .services__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.services .services__wrap .services__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    max-width: 405px;
    margin-bottom: 60px;
    padding-left: 0;

    color: black;
    background: white;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.services .services__wrap .services__block .block__icon
{
    font-size: 1.14em;

    position: relative;

    display: block;
    float: left;

    width: 70px;
    height: 70px;

    color: white;
    border-radius: 50%;
    background-color: black;
}

.services .services__wrap .services__block .block__icon:hover::after
{
    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
    -webkit-transform: scale(.8);
            transform: scale(.8);

    color: #e09520;
}

.services .services__wrap .services__block .icon--brand::after
{
    left: 25px;
}

.services .services__wrap .services__block .icon--mobile::after
{
    left: 24px;
}

.services .services__wrap .services__block .text__block
{
    float: right;

    width: 100%;
    max-width: 200px;
}

@media screen and (min-width: 440px)
{
    .services .services__wrap .services__block .text__block
    {
        max-width: 320px;
    }
}

.services .services__wrap .services__block .text__block .block__title
{
    font-size: 1.42em;
    font-weight: 600;

    display: inline-block;
}

.services .services__wrap .services__block .text__block .block__p
{
    font-size: 1.14em;

    display: inline-block;
}

.clients
{
    padding: 6.5% 0 5%;

    background: #fafafa;
}

.clients .clients__title__block
{
    text-align: center;
}

.clients .clients__title__block .block__title
{
    font-size: 3.85em;
    font-weight: 300;
}

.clients .clients__title__block .block__title::after
{
    font-weight: 700;

    content: ' Clients';
}

.clients .clients__title__block .block__text
{
    font-size: 1.42em;

    color: #777;
}

.clients .clients__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 43px 0 22px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 635px)
{
    .clients .clients__wrap
    {
            flex-direction: row;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
}

.clients .clients__wrap .clients__avatar
{
    width: 225px;
    height: 225px;

    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;

    border: 7px solid #fff;
    border-radius: 50%;
}

.clients .clients__wrap .clients__avatar:hover
{
    border-color: #e09520;
}

.clients .clients__wrap .text__block--left::before
{
    left: 22px;

    display: none;
}

@media screen and (min-width: 634px)
{
    .clients .clients__wrap .text__block--left::before
    {
        left: -22px;

        display: block;
    }
}

.clients .clients__wrap .text__block--right::after
{
    right: 22px;

    display: none;

    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

@media screen and (min-width: 634px)
{
    .clients .clients__wrap .text__block--right::after
    {
        right: -22px;

        display: block;
    }
}

.clients .clients__wrap .clients__text__block
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 655px;
    margin-top: 22px;
    padding: 6% 9%;

    border: 2px solid #f3f3f3;
    border-radius: 2px;
    background: white;
}

.clients .clients__wrap .clients__text__block .block__text
{
    font-size: 1.42em;
    line-height: 1.5;

    margin-bottom: 12px;

    color: #777;
}

.clients .clients__wrap .clients__text__block .block__name
{
    font-size: 1.14em;

    color: #7690c5;
}

.logos__block
{
    display: block;

    padding: 55px 0;

    background: #fff;
}

.logos__block .logos__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logos__block .logos__wrap .logos__item
{
    margin-bottom: 10px;
}

@media screen and (min-width: 760px)
{
    .logos__block .logos__wrap .logos__item
    {
        margin-bottom: 0;
    }
}

.logos__block .logos__wrap .logos__item .item__picture
{
    width: auto;
    height: auto;
}

.team
{
    padding: 87px 0 112px;

    color: #fff;
    background: #000;
}

.team .team__title__block
{
    text-align: center;
}

.team .team__title__block .block__title
{
    font-size: 3.85em;
    font-weight: 300;
}

.team .team__title__block .block__title::after
{
    font-weight: 700;

    content: ' Team';
}

.team .team__title__block .block__text
{
    font-size: 1.42em;

    color: #777;
}

.team .team__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.team .team__wrap .team__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 0 22px;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team .team__wrap .team__item .item__avatar
{
    width: 235px;
    height: 235px;
    margin: 75px 0 20px;

    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;

    border: 7px solid #fff;
    border-radius: 50%;
}

.team .team__wrap .team__item .item__avatar:hover
{
    border-color: #e09520;
}

.team .team__wrap .team__item .item__name
{
    font-size: 1em;
    font-weight: 600;

    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
}

.team .team__wrap .team__item .social__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team .team__wrap .team__item .social__wrap .social__icon
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 5px;
    margin-top: 10px;

    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;

    border: 3px solid #fff;
    border-radius: 50%;
    background: transparent;
}

.team .team__wrap .team__item .social__wrap .social__icon:hover
{
    background: #e09520;
}

.team .team__wrap .team__item .social__wrap .social__icon .icon__item
{
    font-size: 1.28em;

    position: absolute;
    top: 30%;
    left: 29%;

    color: #fff;
}

.team .team__text
{
    font-size: 1.14em;

    box-sizing: border-box;
    margin-top: 45px;
    padding: 0;

    text-align: center;
}

@media screen and (min-width: 600px)
{
    .team .team__text
    {
        padding: 0 150px;
    }
}

.contact
{
    padding: 92px 0;

    color: #fff;
    background: #7690c5;
}

.contact .contact__wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact .contact__wrap .info__wrap
{
    display: block;

    width: 100%;
    max-width: 470px;
}

.contact .contact__wrap .info__wrap .contact__title__block
{
    text-align: center;
}

.contact .contact__wrap .info__wrap .contact__title__block .block__title
{
    font-size: 3.85em;
    font-weight: 300;
}

.contact .contact__wrap .info__wrap .contact__title__block .block__title::after
{
    font-weight: 700;

    content: ' Hello';
}

.contact .contact__wrap .contact__form__wrap
{
    width: 100%;
    max-width: 470px;
}

.contact .contact__wrap .contact__form__wrap .contact__form
{
    font-size: 1.14em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-top: 8%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact .contact__wrap .contact__form__wrap .contact__form .form__name,
.contact .contact__wrap .contact__form__wrap .contact__form .form__email,
.contact .contact__wrap .contact__form__wrap .contact__form .form__message
{
    width: 100%;
    max-width: 455px;
    max-height: 210px;
    margin-bottom: 27px;
    padding: 15px 17px;

    resize: none;

    color: #777;
    border: 2px solid #c2c5cb;
    border-radius: 20px;
}

.contact .contact__wrap .contact__form__wrap .contact__form .form__btn
{
    width: 100%;
    max-width: 220px;
    padding: 5px 0;

    color: #777;
    border: 2px solid #c2c5cb;
    border-radius: 20px;
    background: #fff;
}
