doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="vendor/bootstrap/bootstrap.css")
		link(rel="stylesheet", href="vendor/slick-slider/slick.css")
		link(rel="stylesheet", href="vendor/slick-slider/slick-theme.css")
		link(rel="stylesheet", href="css/style.css")
		title Escape
	body
		header.header
			.container
				a.header__logo(href="#")
					img(src="images/logo.png" width="145" height="30" alt="Escape-logo")
				nav.header__menu
					a.menu__btn(href="")
						img(src="images/mobile-btn-01.svg" width="47" height="47" alt="mobile-btn")
					ul.menu__list
						li.list__item
							a.item__a(href="#home") Home
						li.list__item
							a.item__a(href="#services") Services
						li.list__item
							a.item__a(href="#clients") Clients
						li.list__item
							a.item__a(href="#team") Team
						li.list__item
							a.item__a(href="#contact") Contact
		section#home.promo
			.container
				.promo__slider
					.slider__item
						h4.item__title--little Can you build the website of my dreams?
						h2.item__title--main Yup, we can do that.
						a.item__btn(href="#") Learn More
		section#services.services
			.container
				.services__wrap
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title Branding & Identity
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title Web & Graphic Design
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title Mobile App Development
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title Animations
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title UI/UX
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae
					.services__block
						a.block__icon(href="#")
						.text__block
							h5.block__title Photography
							p.block__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio eligendi eos facilis molestiae

		section#clients.clients
			.container
				.clients__title__block
					h3.block__title Awesome
					p.block__text See what nice things our clients said about us.
				.clients__wrap
					img.clients__avatar(src="uploads/client_icon_1.jpg", alt="client" width="225" height="225")
					.clients__text__block
						p.block__text “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
						a.block__name(href="#") - Jamie Richardson, Founder of Cocoa Media
				.clients__wrap
					.clients__text__block
						p.block__text “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
						a.block__name(href="#") - Bart Thompson, Founder of Rainel
					img.clients__avatar(src="uploads/client_icon_2.jpg", alt="client" width="225" height="225")
		.logos__block
			.container
				.logos__wrap
					img.logos__item(src="uploads/logos_1.jpg", alt="envato-logo" width="160" height="250")
					img.logos__item(src="uploads/logos_2.jpg", alt="wordpress-logo" width="160" height="250")
					img.logos__item(src="uploads/logos_3.jpg", alt="ae-tuts-logo" width="160" height="250")
					img.logos__item(src="uploads/logos_4.jpg", alt="microlancer-logo" width="160" height="250")


		section#team.team
			.container
				.team__title__block
					.block__title Amazing
					.block__text These wonderful people make work enjoyable.

				.team__wrap
					.team__item
						img.item__avatar(src="uploads/team_avatar_1.jpg", alt="ae-tuts-logo" width="225" height="225")
						h5.item__name Kimberly Thompson
						p.item__profesh Marketer
						.social__wrap
							a.social__icon(href="#")
								i.icon__item.fa.fa-twitter(aria-hidden="true")
							a.social__icon(href="#")
								i.icon__item.fa.fa-facebook(aria-hidden="true")
							a.social__icon(href="#")
								i.icon__item.fa.fa-pinterest-p(aria-hidden="true")
					.team__item
						img.item__avatar(src="uploads/team_avatar_2.jpg", alt="ae-tuts-logo" width="225" height="225")
						h5.item__name Kimberly Thompson
						p.item__profesh Marketer
						.social__wrap
							a.social__icon(href="#")
								i.icon__item.fa.fa-twitter(aria-hidden="true")
							a.social__icon(href="#")
								i.icon__item.fa.fa-facebook(aria-hidden="true")
							a.social__icon(href="#")
								i.icon__item.fa.fa-google-plus(aria-hidden="true")
					.team__item
						img.item__avatar(src="uploads/team_avatar_3.jpg", alt="ae-tuts-logo" width="225" height="225")
						h5.item__name Kimberly Thompson
						p.item__profesh Marketer
						.social__wrap
							a.social__icon(href="#")
								i.icon__item.fa.fa-facebook(aria-hidden="true")
							a.social__icon(href="#")
								i.icon__item.fa.fa-pinterest-p(aria-hidden="true")
				p.team__text Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.
		section#contact.contact
			.container
				.contact__wrap
					.info__wrap
						.contact__title__block
							.block__title Say
							.block__text Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
						ul.info
							li.info__item (416) 555-0000
							li.info__item @escape
							li.info__item plus.com/escape
						ul.info
							li.info__item hello@escape.com
							li.info__item facebook.com/escape
							li.info__item pinterest.com/escape
					.contact__form__wrap
						form.contact__form
							input(required type="text" value="Your Name *")
							input(required type="email" value="Your E-mail *")
							input(required type="text" value="Your Message *")

		script(src="vendor/jquery/jquery-3.1.1.min.js")
		script(src="vendor/slick-slider/slick.min.js")
		script(src="js/main.js")